@charset "UTF-8";
@import url(fonts/genericons.css);
/*------------------------------------*    $VARIABLES
\*------------------------------------*/
@font-face {
  font-family: 'politicalight';
  src: url("fonts/politicalight-webfont.eot");
  src: url("fonts/politicalight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/politicalight-webfont.woff") format("woff"), url("fonts/politicalight-webfont.ttf") format("truetype"), url("fonts/politicalight-webfont.svg#politicalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'godsendicons';
  font-style: normal;
  src: url("fonts/godsendicons.eot?v5");
  src: url("fonts/godsendicons.eot?v5#iefix") format("embedded-opentype"), url("fonts/godsendicons.woff?v5") format("woff"), url("fonts/godsendicons.ttf?v5") format("truetype"), url("fonts/godsendicons.svg?v5#godsendicons") format("svg");
  font-weight: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63208253#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "godsendicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 1.125em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em; }

.icon-facebook:before {
  content: '\e800'; }

/* '' */
.icon-twitter:before {
  content: '\e801'; }

/* '' */
.icon-deviantart:before {
  content: '\e802'; }

/* '' */
.icon-rss:before {
  content: '\e803'; }

/* '' */
.icon-angle-left:before {
  content: '\e804'; }

/* '' */
.icon-angle-right:before {
  content: '\e805'; }

/* '' */
.icon-down:before {
  content: '\e806'; }

/* '' */
.icon-up:before {
  content: '\e807'; }

/* '' */
.icon-angle-double-left:before {
  content: '\e808'; }

/* '' */
.icon-angle-double-right:before {
  content: '\e809'; }

/* '' */
.icon-angle-double-up:before {
  content: '\e80a'; }

/* '' */
.icon-angle-double-down:before {
  content: '\e80b'; }

/* '' */
.icon-menu:before {
  content: '\e80c'; }

/* '' */
.icon-star:before {
  content: '\e80d'; }

/* '' */
.icon-cancel:before {
  content: '\e80e'; }

/* '' */
.icon-pencil:before {
  content: '\e80f'; }

/* '' */
.icon-level-down:before {
  content: '\e810'; }

/* '' */
.icon-gplus:before {
  content: '\e811'; }

/* '' */
.icon-linkedin:before {
  content: '\e812'; }

/* '' */
.icon-vimeo:before {
  content: '\e813'; }

/* '' */
.icon-tumblr:before {
  content: '\e814'; }

/* '' */
.icon-patreon:before {
  content: '\e815'; }

/* '' */
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/* Franklin Small font style
	Usage: @include font-2-style();
 */
/*------------------------------------*    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ 
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  width: 100%;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
#footer,
#header,
hgroup,
#nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

del {
  color: #333; }

ins {
  background: #fff9c0;
  text-decoration: none; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 24px;
  margin-bottom: 1.714285714rem; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: smaller; }

/*------------------------------------*    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*    $GLOBAL CLASSES
\*------------------------------------*/
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .g-3up {
  *zoom: 1; }

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
  clear: both; }

.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
  display: table;
  content: ""; }

body {
  font-family: "adobe-caslon-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1;
  width: 100%;
  margin: 0 auto;
  background: url("../images/TSPlight.jpg"); }

/* Links */
a {
  text-decoration: none;
  color: #C7604C; }

a:hover {
  color: #4E917A; }

a, img, a:focus {
  outline: 0;
  border: none; }

a:focus {
  outline: thin dotted; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal; }

h1, h2, h3 {
  font-family: politicalight, sans-serif;
  text-transform: uppercase;
  letter-spacing: .08em;
  line-height: 1.15; }

h2 {
  font-size: 44px;
  letter-spacing: .08em;
  line-height: 1.15; }

/* Text-Related Elements */
blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

p {
  line-height: 1.3; }

strong {
  color: #C7604C; }

ol,
ul {
  margin: 0 0 10px 20px;
  list-style: none; }

/*------------------------------------*    $MEDIA ELEMENTS
\*------------------------------------*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* The slide Slider styles */
.gallery, .slider-wrapper, .gallery img {
  border: none;
  outline: none; }

.slider-wrapper {
  float: left;
  position: relative;
  margin-top: 60px;
  width: 675px; }

.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }

.portslide {
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 450px;
  display: none; }

.portslide:first-child {
  display: block; }

.gallery.slider > div {
  display: none; }

.gallery.slider > div:first-child {
  display: block; }

.portslide img {
  width: 100%;
  height: auto; }

/* If an image is wrapped in a link */
.gallery.slider div p {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 5;
  width: 90%;
  padding: 15px 5% 10px;
  overflow: hidden;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=7);
  background: #5F6062;
  color: #DCDCD6;
  line-height: 1.2;
  font-size: 14px; }

/* Direction nav styles (e.g. Next & Prev) */
.slide-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer; }

.slide-prevNav {
  left: 0px; }

.slide-nextNav {
  right: 0px; }

.slider-wrapper .slider {
  position: relative;
  background: transparent url("../images/loading.gif") no-repeat 50% 50%; }

.slide-pager {
  margin: 10px 5px;
  position: absolute;
  bottom: -28px;
  z-index: 100; }

.slide-pager span {
  margin: 0 4px 0 0;
  height: 11px;
  width: 11px;
  background: transparent url("../images/dots.png") 0px 0px no-repeat;
  display: block;
  float: left;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer; }

.slide-pager span:hover, .slide-pager span.cycle-pager-active {
  background-position: -11px 0px; }

.slider-wrapper .slide-caption {
  font-family: Helvetica, Arial, sans-serif; }

.slider-wrapper .slide-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff; }

.slider-wrapper .slide-caption a:hover {
  color: #fff; }

/*------------------------------------*    $FORMS
\*------------------------------------*/
/*------------------------------------*    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  width: 100%; }

th {
  text-align: left;
  border: 1px solid #5F6062;
  padding: 0.2em;
  font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .08em;
  color: #f9f3e8;
  font-size: 0.75em; }

td {
  border: 0;
  padding: 0.5em; }

/*------------------------------------*    $LAYOUT
\*------------------------------------*/
/*------------------------------------*    $LAYOUT
\*------------------------------------*/
/* Layout Container */
.lc {
  max-width: 700px;
  margin: 0 auto;
  padding: 0; }

/*------------------------------------*    $GRIDS
\*------------------------------------*/
/* Grid Container */
.g {
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
  overflow: visible;
  position: relative; }
  .g > a {
    font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .08em;
    color: #f9f3e8;
    font-size: 0.8125em;
    position: absolute;
    bottom: 20px;
    right: 20px; }

/* Grid Item */
.gi {
  padding: 0;
  margin: 0 1% 2%;
  position: relative;
  float: left; }
  .gi img {
    display: block; }

/* Grid 3up */
.g-3up > .gi {
  width: 26%; }
  @media all and (min-width: 500px) {
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-3up > .gi:nth-of-type(3n+1) {
      clear: left; } }
  @media all and (max-width: 500px) {
    .g-3up > .gi {
      width: 47%;
      margin: 0 1.5% 3%; }
      .g-3up > .gi:nth-of-type(odd) {
        clear: left; } }

.g-3up > .gi.credits {
  width: 42%; }

@media all and (max-width: 500px) {
  .g-3up > .gi, .g-3up > .gi.credits {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0; } }

/*------------------------------------*    $PAGE STRUCTURE
\*------------------------------------*/
/* Header-Related Elements */
#header.trans {
  top: -30px; }

#main.trans {
  margin-top: 226px; }

#readout {
  position: fixed;
  top: 100px;
  left: 10px;
  z-index: 100; }

#header {
  width: 100%;
  display: block;
  background: url("../images/TSPlight.jpg");
  position: fixed;
  z-index: 201;
  top: 0;
  left: 0; }

#nav {
  width: 964px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
  height: 43px;
  z-index: 100; }

.sticky #nav {
  /*	padding-top: 0; */ }

#nav .logo {
  position: absolute;
  z-index: 10; }

#nav .minilogo {
  position: absolute;
  z-index: 1;
  top: 38px;
  left: 8px;
  display: none; }

.sticky #nav .minilogo {
  display: block; }

#nav > ul {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  right: 120px;
  padding-right: 10px; }

#nav .pricing {
  position: absolute;
  right: -22px;
  top: 4px;
  z-index: 500; }

.minipricing {
  display: none; }

#nav > ul li {
  display: inline-block; }

#nav ul li a {
  text-transform: uppercase;
  padding: 10px 13px;
  display: block;
  color: #58595B;
  font-family: politicalight, sans-serif;
  font-size: 22px;
  letter-spacing: .08em; }

#nav ul li > a:active,
#nav ul li > a:hover,
#nav ul li.current-menu-item > a,
#nav ul li.current-menu-ancestor > a {
  color: #CF6139; }

#nav ul li a.active {
  color: #4E917A; }

.sticky2 #subhead {
  background: none;
  border: none;
  height: 0; }

.sticky #subhead p.headcontact {
  display: none; }

/* Displays the link as blocks. */
.sub-menu a {
  display: block;
  float: none;
  margin: 0 auto;
  padding-top: 0; }

/* sub menus!!  */
.sub-menu {
  list-style: none;
  margin: 0;
  /* Appear just below the hovering list */
  padding: 0;
  width: 140px;
  /* specify the width. */
  position: absolute;
  /* needed */
  z-index: 500;
  /* specify the order */
  background: url("../images/TSPlight.jpg");
  text-align: left; }

.sub-menu {
  top: 39px;
  /* Positioning:Calc with top level horz list height */
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.3);
  /* CSS 3 */ }

.sub-menu li {
  float: none;
  /* umm.. Appear below the previous one. mmkay? */ }

/* Drop Down! */
/* Hide all the dropdowns (submenus) */
#nav .sub-menu {
  display: none; }

/* Display the submenus only when li are hovered */
#nav li:hover .sub-menu,
#nav .sub-menu:hover {
  display: block; }

#nav ul.open {
  display: block; }

ul#menu-main-menu li * a:hover {
  /* Change color of links when hovered */
  color: #14ada8; }

.mininav {
  display: none;
  width: 240px;
  height: 34px;
  overflow: hidden;
  margin: 0 auto; }

.mininav select {
  background: url(images/new-arrow.png) no-repeat right transparent;
  width: 95px;
  padding: 5px;
  font-size: 22px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  font-family: politicalight, sans-serif;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: .08em; }

#subhead {
  display: block;
  width: 100%;
  height: 151px;
  background: rgba(118, 174, 153, 0.15);
  border-bottom: 2px solid #4E917A;
  padding-top: 73px; }

#subheadwrap {
  bottom: -35px;
  right: 150px;
  position: absolute; }

.borderholder {
  width: 700px;
  padding: 8px 0 0;
  background: url("../images/main-sprite.png") repeat-x 2px -6px;
  position: absolute;
  top: 74px;
  right: 115px;
  z-index: 10;
  border-top: 1px solid #58595B; }

#subheadwrap p.headcontact {
  width: 667px;
  font-size: 13px;
  text-align: right;
  margin: 0 auto;
  padding: 18px 0 0;
  color: #5F6062; }

.sticky #subhead p.headcontact {
  display: none; }

.backtotop {
  position: absolute;
  right: 55px;
  top: 2000px;
  z-index: 10;
  width: 48px;
  height: 64px;
  text-indent: -999em;
  background: url("../images/main-sprite.png") no-repeat 0 -565px;
  display: none; }

.backtotop:hover {
  background-position: 0 -629px; }

/*------------------------------------*    $NAVIGATION
\*------------------------------------*/
/*------------------------------------*    $MAIN CONTENT AREA
\*------------------------------------*/
/*
[role=main] {
	overflow: hidden;
	padding: 0 0 $padpx-triple;
	margin: 0 auto;
	background:$white;
	color:$drk-brwn;


	@media all and (max-width: $bp-large) {
		padding: 0;
	}

}
*/
/*------------------------------------*    $FOOTER
\*------------------------------------*/
/* FOOTER */
#footwrap {
  width: 100%;
  background: url("../images/TSPmidfabric400.jpg");
  border-top: 6px solid #DD604C;
  clear: both; }

#footer {
  width: 688px;
  margin: 0 auto;
  padding: 60px 152px;
  color: #DEDED8; }

.footcol {
  width: 228px;
  text-align: center;
  float: left;
  padding: 24px 0; }

#footer > p {
  clear: both;
  text-align: center;
  padding: 30px 0;
  color: white;
  font-size: 12px;
  font-weight: bold; }

#footer a {
  color: #DEDED8; }

a.facebook-old {
  height: 50px;
  width: 50px;
  display: block;
  text-indent: -999em;
  margin: 0 auto;
  background: transparent url("../images/main-sprite.png") -97px -629px; }

a.facebook-old:hover, a.facebook-old:active {
  background-position: -97px -679px; }

#footer h2 {
  font-size: 39px;
  margin-bottom: 26px;
  letter-spacing: .08em; }

#foot2 {
  border-left: 1px solid #DEDED8;
  border-right: 1px solid #DEDED8; }

.nav-social {
  padding: 0 20px;
  margin: 0; }

.nav-social li {
  display: inline;
  margin: 0 .3em; }

.nav-social [class*="genericon"] {
  font-size: 32px;
  width: 32px;
  height: 32px;
  margin: 0 7px .75em; }

.nav-social a:hover [class*="genericon"],
.nav-social a:active [class*="genericon"],
#footer a:hover,
#footer a:active {
  color: #ffffff; }

#foot1 p {
  line-height: 20px; }

.pricebadge {
  display: block;
  overflow: hidden;
  text-indent: -9999em;
  width: 147px;
  height: 152px;
  background: transparent url("../images/main-sprite.png") 0 -183px;
  padding: 0;
  margin: 0 auto; }

.pricebadge:hover {
  background-position: 0 -27px; }

.headerPBhover.small {
  background-position: 34px -392px; }

.headerPBhover {
  background: transparent url("../images/main-sprite.png") 8px -19px no-repeat; }

.headerPBhover .spriteAnimation {
  background-repeat: no-repeat; }

body.admin-bar {
  margin-top: -28px;
  padding-bottom: 28px; }

#wpadminbar {
  top: auto !important;
  bottom: 0; }

#wpadminbar .quicklinks > ul > li {
  position: relative; }

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  bottom: 28px; }

/*------------------------------------*    $TEXT Styles
\*------------------------------------*/
/* Global Font Classes */
.font-secondary {
  font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif; }

.font-tertiary {
  font-family: Arial, sans-serif; }

/*------------------------------------*    $COMPONENTS
\*------------------------------------*/
/* HOME */
.content {
  width: 964px;
  margin: 0 auto;
  position: relative; }

.content.apparel {
  height: 321px; }

.zone1 {
  background: rgba(255, 255, 255, 0.29);
  padding-bottom: 60px; }

.galinfo {
  width: 285px;
  background: white;
  float: right;
  margin-top: -30px;
  right: 0;
  padding: 30px 0 20px;
  min-height: 460px; }

.galinfo h2 {
  color: #5F6062;
  padding: 0 30px 30px;
  background: url("../images/border-dots.png") repeat-x bottom;
  margin-bottom: 30px; }

.galinfo p {
  padding: 0 30px;
  margin-bottom: 10px; }

.right, .left {
  float: left; }

.orangebox.right {
  float: right; }

.orangebox.left .slide-pager {
  right: 0; }

.orangebox.gallery {
  margin-top: 90px; }

.left {
  float: left; }

.zone1 {
  float: left;
  width: 100%;
  padding-bottom: 60px; }

.page-template-portfolio-php .zone1 {
  padding-top: 60px; }

.page-template-portfolio-php .orangebox {
  margin-top: 90px; }

.vidwrap {
  padding-top: 90px; }

.splitzone {
  padding-bottom: 60px;
  width: 100%;
  clear: both;
  position: relative; }

.splitleft {
  height: 100%;
  width: 43%;
  position: absolute;
  background: rgba(118, 174, 153, 0.15); }

.splitright {
  height: 100%;
  width: 57%;
  position: absolute;
  right: 0;
  background: rgba(95, 96, 98, 0.15) url("../images/border-dots.png") repeat-y -2px 0px; }

.orangebox {
  width: 289px;
  color: #DEDED8;
  z-index: 10;
  position: relative;
  background: url("../images/granville.png") no-repeat bottom left #C7604C;
  min-height: 384px;
  z-index: 200;
  float: left; }

#main .orangebox.ob1 {
  background-position: -300px bottom; }

#main .orangebox.ob2 {
  background-position: -600px bottom; }

#main .orangebox.ob3 {
  background-position: -900px bottom; }

#main .orangebox.ob4 {
  background-position: -1180px bottom; }

.orangebox h2, .orangebox h3 {
  padding: 30px;
  position: relative; }

.orangebox h2:after, .orangebox h3:after {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: url("../images/main-sprite.png") repeat-x top center; }

.orangebox h3 {
  font-size: 34px; }

.orangebox p {
  padding: 30px;
  line-height: 24px; }

.orangebox > div {
  width: 100%; }

.vid {
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1; }

/* PORTFOLIO */
div.zone1:first-child .slider-wrapper {
  margin-top: 0; }

.port div.zone1:first-child .orangebox {
  margin-top: 30px; }

.gallery:before {
  content: "";
  position: absolute;
  top: 23%;
  height: 77%;
  background: rgba(118, 174, 153, 0.15);
  width: 100%; }

/* PRODUCTS */
.category-apparel .zone1 {
  padding-top: 45px;
  padding-bottom: 45px;
  overflow: hidden;
  position: relative;
  float: none; }

.category-apparel .zone1.open {
  height: auto; }

.category-apparel h3 {
  font-size: 24px;
  display: inline-block;
  padding: 5px; }

.zone1:nth-child(3n) {
  background: rgba(118, 174, 153, 0.15); }

.zone1:nth-child(3n-1) {
  background: rgba(95, 96, 98, 0.15); }

.category-apparel .zone1 h2 {
  color: #CF6139;
  width: 964px;
  margin: 0 auto; }

.app-wrap a {
  position: relative;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  outline-style: none;
  outline-width: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.app-wrap {
  position: relative; }

.app-wrap a:nth-child(4n) {
  margin-right: 0; }

.category-apparel .zone1 span.view-all {
  position: absolute;
  bottom: -22px;
  right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #CC6139;
  cursor: pointer;
  z-index: 20; }

.app-desc {
  background: #5F6062;
  color: #DCDCD6;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%; }

.app-thumb:hover .app-desc {
  background: #4E917A; }

.app-desc h3 {
  font-size: 14px; }

.product {
  width: 40%;
  float: left;
  text-align: center; }

.product h2 {
  text-align: center; }

.product img, .apparel img {
  width: auto;
  height: auto;
  max-width: 100%; }

.product.apparel {
  width: 25%;
  float: left; }

.productinfo {
  width: 426px;
  background: white;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-top: 60px;
  margin-bottom: 30px; }

.flipoffset .productinfo {
  margin-top: 30px; }

.flipoffset .productimg {
  margin-top: 60px; }

.productinfo h2 {
  color: #5F6062;
  padding: 5px 30px 30px;
  position: relative; }

.productinfo h2:after {
  background: url("../images/main-sprite.png") repeat-x 2px -6px;
  content: "";
  height: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.productinfo .contentp {
  padding: 25px 30px; }

.productinfo p {
  padding: 5px 0; }

.rsrcelink {
  display: inline-block;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-indent: -99em;
  background: transparent url("../images/main-sprite.png") no-repeat -57px -567px;
  float: right;
  margin: 0 30px 20px 0; }

.rsrcelink:hover {
  background-position: -57px -591px; }

.rsrcelink.templates {
  width: 25px;
  background-position: -78px -567px;
  margin-right: 20px;
  height: 24px; }

.rsrcelink.templates:hover {
  background-position: -78px -591px; }

.rsrcelink.samples {
  width: 29px;
  background-position: -103px -566px;
  margin-right: 19px; }

.rsrcelink.samples:hover {
  background-position: -103px -591px; }

.productinfo h4.sizes {
  width: 250px;
  float: left;
  padding-right: 0; }

.rsrcelink.launchcalc, .calcbanner h3 {
  width: 384px;
  height: 51px;
  margin: 0 auto;
  cursor: pointer;
  background: transparent url("../images/calc-sprite.png") no-repeat 0 -185px;
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  text-indent: -999em; }

.calcbanner h3 {
  width: 271px;
  height: 51px;
  position: relative;
  margin: 0; }

.calcbanner {
  margin: 0 auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  width: 680px; }

.calcbanner:before {
  width: 412px;
  height: 51px;
  background: url("../images/calc-sprite.png") no-repeat 0 -287px;
  display: block;
  content: '';
  right: 0;
  bottom: 30px;
  position: absolute; }

.rsrcelink.launchcalc:hover {
  background-position: 0 -236px; }

.productinfo h4 {
  padding: 5px 30px; }

.productinfo img {
  margin: 20px auto;
  display: block;
  cursor: pointer; }

.productimg {
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  padding: 30px;
  background: #C5C5BE; }

.swatches {
  clear: both;
  width: 994px;
  float: left;
  left: -15px;
  position: relative;
  margin-top: 30px; }

.swatches > h4 {
  padding-left: 15px; }

.swatchall {
  position: relative; }

.swatchwrap {
  float: left;
  position: relative; }

.swatchwrap.active {
  background: #5F6062; }

.swatch {
  width: 110px;
  height: 110px;
  background-image: url("../images/paperswatch.png");
  float: left;
  border: 1px solid #5F6062;
  margin: 15px;
  cursor: pointer; }

.apparel .swatch {
  background-image: url("../images/colorswatch.png"); }

.swatchname {
  background: #5F6062;
  color: #DCDCD6;
  padding: 10px 2px;
  text-align: center;
  display: none;
  font-size: 9px;
  text-transform: uppercase; }

.calculator {
  display: none;
  padding-bottom: 80px;
  width: 100%;
  background-image: url("../images/colorswatch.png");
  background-color: #5F6062;
  float: left;
  position: relative; }

.calculator.open {
  display: block; }

#ajaxLoader {
  position: absolute;
  left: 332px;
  top: 97px; }

.calc {
  width: 680px;
  margin: 0 auto;
  position: relative; }

.calctabs {
  position: relative; }

.tab {
  display: inline-block;
  background: #C6C7BD;
  padding: 8px;
  position: relative;
  margin: 0 0 0 9px;
  width: auto;
  float: none;
  cursor: pointer;
  height: 22px; }

.tab.selected {
  background: white;
  z-index: 10; }

.tab h3 {
  font-size: 23px; }

.tableft, .tabright {
  background: url("../images/main-sprite.png") no-repeat -56px -634px;
  height: 38px;
  width: 9px;
  position: absolute;
  bottom: 0px; }

.tableft {
  left: -9px; }

.selected .tableft {
  background-position: -74px -634px; }

.tabright {
  right: -9px;
  background-position: -65px -634px; }

.selected .tabright {
  background-position: -83px -634px; }

.xboxwrap {
  position: absolute;
  right: 10px;
  top: 10px; }

.calcbox {
  background: white;
  display: none;
  float: left;
  width: 100%; }

.selected.calcbox {
  display: block; }

.progress {
  height: 70px;
  position: relative; }

.progressbar {
  position: absolute;
  top: 25px;
  left: 30px; }

.progress1 {
  position: absolute;
  top: 25px;
  left: 55px;
  width: 18px;
  height: 18px;
  background: url("../images/1off.png"); }

.progress1.on {
  background: url("../images/1on.png"); }

.progress2 {
  position: absolute;
  top: 25px;
  left: 331px;
  width: 18px;
  height: 18px;
  background: url("../images/2off.png"); }

.progress2.on {
  background: url("../images/2on.png"); }

.progress3 {
  position: absolute;
  top: 25px;
  right: 55px;
  width: 18px;
  height: 18px;
  background: url("../images/3off.png"); }

.progress3.on {
  background: url("../images/3on.png"); }

.calcboxleft {
  height: 270px;
  margin: 0 0 10px;
  border-right: 2px dotted black;
  width: 35%;
  float: left;
  position: relative; }

.calcboxleft h4 {
  padding: 20px 20px 5px; }

.calcboxleft select {
  width: 86%;
  margin: 0 7%;
  font-size: 15px; }

.calcboxright {
  width: 64%;
  float: left; }

.calcboxright h4 {
  padding: 20px 20px 5px; }

.calcboxright h4.disabled {
  opacity: .5; }

.calcboxright select {
  width: 86%;
  margin: 0 20px;
  font-size: 15px; }

.calcboxright label {
  float: left;
  margin-left: 20px;
  margin-top: 8px; }

.calcboxright label.disabled {
  opacity: .5; }

.calcboxright select.half {
  width: 10%;
  float: left;
  margin: 0 5px; }

.calcboxright select.threequart {
  width: 25%;
  float: left;
  margin: 0 20px; }

.calcboxright input {
  width: 14%;
  margin-left: 20px; }

.calculate {
  height: 160px;
  background: #C6C7BD;
  position: relative;
  float: left;
  width: 100%; }

.calculate-button {
  background-image: url("../images/calculate-off.png");
  position: absolute;
  right: 30px;
  top: 30px;
  width: 172px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  background-repeat: no-repeat; }

.calculate-button.on {
  background-image: url("../images/calculate-on.png");
  cursor: pointer; }

.calculate-button.send {
  background-image: url("../images/calculate-send.png");
  cursor: pointer; }

.calculate-button.back {
  background-image: url("../images/calculate-back.png");
  cursor: pointer;
  top: 80px;
  right: -40px; }

.get-started h3 {
  font-size: 18px;
  margin-left: 20px;
  letter-spacing: 3px;
  margin-bottom: 5px; }

.get-started .h4, .calcboxright .h4 {
  padding: 8px 20px 8px;
  float: left;
  clear: both;
  display: inline-block;
  color: #4E917A;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase; }

.get-started .p-right .h4 {
  float: none; }

.calcboxright .h4.total, .calcboxright .h4.peritem {
  float: none; }

.get-started .calcboxleft p, .calcboxright p {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 45px;
  font-size: 15px;
  clear: both; }

.get-started .calcboxleft .xxl {
  position: absolute;
  margin-bottom: 0;
  bottom: 0; }

.get-started .calcboxleft .p-right, .calcboxright .p-right {
  text-align: right;
  float: right;
  clear: both;
  width: 200px; }

.get-started .calcboxleft .p-right span, .calcboxright .p-right span {
  padding: 0; }

.get-started input[type="text"], .get-started input[type="email"] {
  width: 303px;
  margin: 1px 1px 5px; }

.get-started input[type="date"] {
  width: 131px; }

.get-started textarea {
  width: 365px;
  height: 96px;
  margin-left: 20px;
  margin-right: 0px; }

.get-started .calculate p {
  width: 70%;
  margin: 20px;
  font-size: 13px;
  line-height: 1.5; }

.content.pricing-success {
  text-align: center;
  margin: 50px auto 80px; }

.content.pricing-success h2 {
  margin: 30px 0; }

.pricing-link {
  display: block;
  padding: 20px;
  background: #C7604C;
  width: 200px;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  margin: 30px auto;
  font-family: politicalight, sans-serif;
  letter-spacing: .08em; }

.pricing-link:hover {
  color: #5F6062; }

.sfwrap {
  margin: 0 auto;
  width: 743px; }

.swatchflyout {
  display: none;
  width: 100%;
  background: #5F6062;
  position: absolute;
  z-index: 10;
  float: left; }

.swatchflyout.active {
  display: block; }

.swatchbig {
  width: 252px;
  height: 252px;
  margin: 30px;
  float: left;
  border: 1px solid white;
  background-image: url("../images/paperswatch.png"); }

.apparel .swatchbig {
  background-image: url("../images/colorswatch.png"); }

.swatchinfo {
  float: left;
  width: 309px;
  height: 194px;
  margin: 30px;
  background: white;
  padding: 30px; }

.swatchinfo h3 {
  font-size: 23px;
  padding-bottom: 10px; }

.swatchinfo h4 {
  padding-bottom: 8px; }

.swatchinfo p {
  line-height: 1.1; }

/* FAQ and DEFAULT */
.lbox {
  float: left;
  width: 225px;
  overflow: hidden; }

.pdT {
  padding-top: 60px; }

.faqwrap h2 {
  font-family: "open-sans",sans-serif;
  color: #4E917A;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 0 0 20px;
  padding: 10px 0 0; }

.faqwrap h3 {
  font-family: "open-sans",sans-serif;
  color: #4E917A;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 0 0 10px;
  padding-top: 10px; }

.faqwrap h4 {
  letter-spacing: .1em;
  color: #5F6062;
  letter-spacing: 1px;
  margin: 0 20px 10px;
  padding-top: 10px; }

.faqwrap ul, .faqwrap ol {
  margin: 10px 0 10px 50px; }

.faqwrap li {
  margin: 5px 0; }

.faq .zone1 {
  position: relative; }

.faq .splitzone, .faq.splitzone {
  float: left;
  height: auto; }

.faq .orangebox {
  margin-top: 30px;
  float: none;
  position: absolute;
  left: 0; }

.subnavwrap {
  background: #4E917A; }

.subnav {
  width: 964px;
  text-align: center;
  margin: 0 auto;
  color: white; }

.subnav h2 {
  font-size: 24px;
  padding: .5em 30px;
  text-align: left; }

.home .subnavwrap {
  background-color: #76AE99; }

.jump {
  position: relative;
  display: block;
  top: -30px; }

.subnav a {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px; }

.faqwrapper {
  padding-top: 60px; }

.faqwrap {
  background: white;
  float: right;
  width: 530px;
  padding: 50px 90px;
  min-height: 345px; }

.faqwrap.single-col {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.single-col h1 {
  font-size: 3em;
  color: #DD604C; }

.hzcolors .faqwrap {
  margin-bottom: 0; }

.hzcolors .swatch, .hzcolors .swatchbig {
  background-image: none; }

.hzcolors .swatches {
  margin-bottom: 90px; }

h4 {
  color: #4E917A;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase; }

.faqwrap p {
  margin: 10px 20px; }

.cf:before, .g-3up:before,
.cf:after,
.g-3up:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .g-3up:after {
  clear: both; }

.content img.alignleft {
  float: left; }

.content img.alignright {
  float: right; }

.pl-swatch {
  width: 150px;
  margin: 0 10px 10px 0;
  float: left;
  padding: 65px 0;
  text-align: center; }

.inline-list li {
  display: inline-block; }

/**
 * 6.14 Comments
 * -----------------------------------------------------------------------------
 */
.comments-area {
  margin: 3.5rem auto 0;
  max-width: 100%;
  padding: 0 35px;
  font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .comments-area > div, .comments-area > ol, .comments-area > p {
    padding-left: 95px;
    padding-right: 95px; }
    @media all and (max-width: 730px) {
      .comments-area > div, .comments-area > ol, .comments-area > p {
        padding: 0 5%; } }
    @media all and (max-width: 575px) {
      .comments-area > div, .comments-area > ol, .comments-area > p {
        padding: 0; } }

.comment-list, .comment-respond, .comments-area > p {
  display: none; }

.comment-reply-title,
.comments-title {
  font: 400 16px/1.5 Lato, sans-serif;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer; }
  .comment-reply-title.border,
  .comments-title.border {
    border-top: 1px solid;
    padding-top: .5em; }

.comment-list {
  list-style: none;
  margin: 0 0 48px 0; }

.comment-author {
  font-size: 14px;
  line-height: 1.7142857142; }

.comment-list .reply,
.comment-metadata {
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase; }

.comment-list .reply {
  margin-top: 24px; }

.comment-author .fn {
  font-weight: 700; }

.comment-author a {
  color: #2b2b2b; }

.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
  color: #767676; }

.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
  color: #41a62a; }

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding-top: 24px; }

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
  border-top: 0; }

.comment-author {
  position: relative; }

.comment-author .avatar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px; }

.bypostauthor > article .fn:before {
  font-family: "godsendicons", "Arial", sans-serif;
  content: "\e80d";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px; }

.says {
  display: none; }

.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply,
.comment-metadata {
  padding-left: 40px;
  font-size: .875em; }

.comment-edit-link {
  margin-left: 10px; }

.comment-edit-link:before {
  font-family: "godsendicons", "Arial", sans-serif;
  content: "\e80f";
  margin-right: 2px;
  text-decoration: none; }

.comment-reply-link:before,
.comment-reply-login:before {
  font-family: "godsendicons", "Arial", sans-serif;
  content: "\e810";
  margin-right: 2px;
  text-decoration: none; }

.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word; }

.comment-content ul,
.comment-content ol {
  margin: 0 0 24px 22px; }

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0; }

.comment-content > :last-child {
  margin-bottom: 0; }

.comment-list .children {
  list-style: none;
  margin-left: 15px; }

.comment-respond {
  margin-bottom: 24px;
  padding: 0; }

.comment .comment-respond {
  margin-top: 24px; }

.comment-respond h3 {
  margin-top: 0;
  margin-bottom: 24px; }

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
  color: #767676; }

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
  font-size: 14px;
  line-height: 1.7142857142; }

.no-comments {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 24px;
  text-transform: uppercase; }

.comment-form label {
  display: block; }

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%; }

.form-allowed-tags,
.form-allowed-tags code {
  font-size: 12px;
  line-height: 1.5; }

.required {
  color: #c0392b; }

.comment-reply-title small a {
  color: #2b2b2b;
  float: right;
  height: 24px;
  overflow: hidden;
  width: 24px; }

.comment-reply-title small a:hover {
  color: #41a62a; }

.comment-reply-title small a:before {
  font-family: "godsendicons", "Arial", sans-serif;
  content: "\e80e";
  font-size: 32px; }

.comment-navigation {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 48px;
  text-transform: uppercase; }

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
  display: inline-block; }

.comment-navigation .nav-previous a {
  margin-right: 10px; }

#comment-nav-above {
  margin-top: 36px;
  margin-bottom: 0; }
