/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}
h1, h2, h3 {
    font-family: politicalight, sans-serif;
    text-transform: uppercase;
    letter-spacing: .08em;
    line-height: 1.15;
}
h2 {
    font-size: 44px;
    letter-spacing: .08em;
    line-height: 1.15;
}