<p>Main body font stack is 'adobe-caslon-pro', Georgia, Cambria, 'Times New Roman', Times, serif</p>
<p class="font-secondary">Secondary font stack is 'Lato', Helvetica, Arial, 'Lucida Grande', sans-serif</p>
<p class="font-tertiary">Tertiary font stack is Arial, sans-serif;</p>
<br>
<h1>'politicalight', sans-serif</h1>
<h2>'politicalight', sans-serif</h2>
<h3>'politicalight', sans-serif</h3>