/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/* FOOTER */

#footwrap {
	width: 100%;
	background: url('../images/TSPmidfabric400.jpg');
	border-top: 6px solid #DD604C;
	clear:both;
}

#footer {
	width: 688px;
	margin: 0 auto;
	padding: 60px 152px;
	color: #DEDED8;
}

.footcol {
	width: 228px;
	text-align: center;
	float: left;
	padding: 24px 0;
}

#footer > p {
	clear: both;
	text-align: center;
	padding: 30px 0;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

#footer a {
	color: #DEDED8;
}


a.facebook-old {
	height:50px;
	width:50px;
	display:block;
	text-indent:-999em;
	margin:0 auto;
	background: transparent url('../images/main-sprite.png') -97px -629px;
}
a.facebook-old:hover, a.facebook-old:active {
	background-position:-97px -679px;
}
#footer h2 {
	font-size: 39px;
	margin-bottom: 26px;
	letter-spacing: .08em;
}
#foot2{
	border-left: 1px solid #DEDED8;
	border-right: 1px solid #DEDED8;
}
.nav-social {
	padding:0 20px;
	margin:0;
}
.nav-social li {
	display: inline;
	margin: 0 .3em;
}
.nav-social [class*="genericon"] {
	font-size:32px;
	width: 32px;
	height:32px;
	margin: 0 7px .75em;
}
.nav-social a:hover [class*="genericon"],
.nav-social a:active [class*="genericon"],
#footer a:hover,
#footer a:active {
	color:#ffffff;
}

#foot1 p {
	line-height: 20px;
}
.pricebadge {
	display: block;
	overflow: hidden;
	text-indent: -9999em;
	width: 147px;
	height: 152px;
	background: transparent url('../images/main-sprite.png') 0 -183px;
	padding: 0;
	margin: 0 auto;	
}
.pricebadge:hover {
	background-position: 0 -27px;
}
.headerPBhover.small {
	background-position:34px -392px;
}

.headerPBhover {
	background: transparent url('../images/main-sprite.png') 8px -19px no-repeat;
}
.headerPBhover .spriteAnimation {
	background-repeat:no-repeat;	
}
body.admin-bar {
        margin-top: -28px;
        padding-bottom: 28px;
    }
    #wpadminbar {
        top: auto !important;
        bottom: 0;
    }
    #wpadminbar .quicklinks>ul>li {
        position:relative;
    }
    #wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
        bottom:28px;
    }