/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/

/*
[role=main] {
	overflow: hidden;
	padding: 0 0 $padpx-triple;
	margin: 0 auto;
	background:$white;
	color:$drk-brwn;


	@media all and (max-width: $bp-large) {
		padding: 0;
	}

}
*/